.dashboard {
    background: rgba(0, 0, 0, 0.05);
}
.graph-container {
    padding: 20px;
}
.graph-container > div {
    display: flex;
    flex-direction: column;
    background: white;
    height: 400px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
}
.graph-container > div:nth-child(1) {
    margin-left: 0;
}
.graph-container > div > div:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}